ScheduleClientForms/Service References/ServiceReference1/XmlScheduleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScheduleServiceApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScheduleServiceApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Line" nillable="true" type="tns:Line" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLine" nillable="true" type="tns:ArrayOfLine" />
  <xs:complexType name="Line">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="route" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Line" nillable="true" type="tns:Line" />
  <xs:complexType name="LineWithSchedule">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Line">
        <xs:sequence>
          <xs:element minOccurs="0" name="stopTimes" nillable="true" type="tns:Stops" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LineWithSchedule" nillable="true" type="tns:LineWithSchedule" />
  <xs:complexType name="Stops">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stop">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Station" nillable="true" type="tns:Station" />
            <xs:element name="Time" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stops" nillable="true" type="tns:Stops" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="StationSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" name="departures" nillable="true" type="tns:Departures" />
      <xs:element minOccurs="0" name="station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StationSchedule" nillable="true" type="tns:StationSchedule" />
  <xs:complexType name="Departures">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Departure">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Time" nillable="true" type="xs:string" />
            <xs:element name="Line" nillable="true" type="tns:Line" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Departures" nillable="true" type="tns:Departures" />
</xs:schema>