ScheduleClientForms/Service References/ServiceReference1/XmlScheduleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="XmlScheduleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50924/XmlScheduleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50924/XmlScheduleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50924/XmlScheduleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScheduleServiceApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ScheduleService_GetLines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLines" />
  </wsdl:message>
  <wsdl:message name="ScheduleService_GetLines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinesResponse" />
  </wsdl:message>
  <wsdl:message name="ScheduleService_GetLine_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLine" />
  </wsdl:message>
  <wsdl:message name="ScheduleService_GetLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLineResponse" />
  </wsdl:message>
  <wsdl:message name="ScheduleService_GetStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="ScheduleService_GetStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:message name="ScheduleService_GetStationSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationSchedule" />
  </wsdl:message>
  <wsdl:message name="ScheduleService_GetStationSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationScheduleResponse" />
  </wsdl:message>
  <wsdl:portType name="ScheduleService">
    <wsdl:operation name="GetLines">
      <wsdl:input wsaw:Action="http://tempuri.org/ScheduleService/GetLines" message="tns:ScheduleService_GetLines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ScheduleService/GetLinesResponse" message="tns:ScheduleService_GetLines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLine">
      <wsdl:input wsaw:Action="http://tempuri.org/ScheduleService/GetLine" message="tns:ScheduleService_GetLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ScheduleService/GetLineResponse" message="tns:ScheduleService_GetLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <wsdl:input wsaw:Action="http://tempuri.org/ScheduleService/GetStations" message="tns:ScheduleService_GetStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ScheduleService/GetStationsResponse" message="tns:ScheduleService_GetStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ScheduleService/GetStationSchedule" message="tns:ScheduleService_GetStationSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ScheduleService/GetStationScheduleResponse" message="tns:ScheduleService_GetStationSchedule_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ScheduleService" type="tns:ScheduleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLines">
      <soap:operation soapAction="http://tempuri.org/ScheduleService/GetLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLine">
      <soap:operation soapAction="http://tempuri.org/ScheduleService/GetLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <soap:operation soapAction="http://tempuri.org/ScheduleService/GetStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationSchedule">
      <soap:operation soapAction="http://tempuri.org/ScheduleService/GetStationSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XmlScheduleService">
    <wsdl:port name="BasicHttpBinding_ScheduleService" binding="tns:BasicHttpBinding_ScheduleService">
      <soap:address location="http://localhost:50924/XmlScheduleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>