ScheduleClientForms/Service References/ServiceReference1/XmlScheduleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50924/XmlScheduleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScheduleServiceApp" />
  <xs:element name="GetLines">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ScheduleServiceApp" minOccurs="0" name="GetLinesResult" nillable="true" type="q1:ArrayOfLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ScheduleServiceApp" minOccurs="0" name="GetLineResult" nillable="true" type="q2:LineWithSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ScheduleServiceApp" minOccurs="0" name="GetStationsResult" nillable="true" type="q3:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ScheduleServiceApp" minOccurs="0" name="GetStationScheduleResult" nillable="true" type="q4:StationSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>